<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<style>
body{
    background-image:linear-gradient(orange,white,green);
    background-repeat:no-repeat;
    height:100vh;
}  
</style>

<body>
    <div class="countryname">
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="" class="active">Home</a>
                    </li>
                    <li>
                      <a href=>Google Earth</a>
                    </li>
                    <li>
                      <a href="">About Me</a>
                    </li>
                    <li>
                      <a href="">Comments</a>
                    </li> 
                </ul>
            </nav>
        </header>

        <div class="country">
        <h1>ARMENIA</h1>
        </div>

        <div class="imageslides">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">

        </div>
<div class="introduction">
            <p>
        </div>
    <div class="columns">
        
        <div class="values">
            <h2>VALUES</h2>
            <p>
            </p>
        </div>
        <div class="religion">
            <h2>RELIGION</h2>
            <p>
            </p>
        </div>
        <div class="festivals">
            <h2>FESTIVALS</h2>
            <p>
            </p>
            <ul>
                <li>Holi</li>
            </ul>
            
        </div>
        <div class="social issues">
            <h2>SOCIAL ISSUES</h2>
            <p>
            </p>
        </div>
    </div>

        <div class="conclusion">

        </div>
</div>
</body>
</html>