<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="wrapper">
        <header>
          <nav>
              <ul>
                  <li>
                      <a href="" class="active">Home</a>
                  </li>
                  <li>
                    <a href="./googleearth.html">Google Earth</a>
                  </li>
                  <li>
                    <a href="">About Me</a>
                  </li>
                  <li>
                    <a href="">Countries</a>
                    
                    <li><a href="./afghanistan.html">Afghanistan</a></li>
                    <li><a href="./albania.html">Albania</a></li>
                    <li><a href="./algeria.html">Algeria</a></li>
                    <li><a href="./andorra.html">Andorra</a></li>
                    <li><a href="./angola.html">Angola</a></li>
                    <li><a href="./antiguaandbarbuda.html">Antigua and Barbuda</a></li>
                    <li><a href="./argentina.html">Argentina</a></li>

                  </li>
                   
              </ul>
          </nav>
        </header>
      </div>
          <div class="homepage">
            <div class="countryheaders">
              <a href="./afghanistan.html">
              <div class="image">
                <img src="../static/images/culture coding project/afghanistan.jpg" alt="Afghanistan">
              </div>
              <div class="text">
                <p>AFGHANISTAN</p>
              </a>
              </div>
            </div>
            <div class="countryheaders">
              <div class="image">
                <img src="../static/images/culture coding project/india.jpg" alt="India">
              </div>
              <div class="text">
                <p>ALBANIA</p>
              </div>
            </div>
            <div class="countryheaders">
              <div class="image">
                <img src="../static/images/culture coding project/india.jpg" alt="India">
              </div>
              <div class="text">
                <p>ALGERIA</p>
              </div>
            </div>
          </div>
        
 
</body>
</html>